data/flows.json
[{"id":"737f8a22.8c8074","type":"tab","label":"Sandbox"},{"id":"fe371a91.01c8e8","type":"tab","label":"Alarm"},{"id":"8810446f.77efb8","type":"tab","label":"Weather"},{"id":"b2a11886.4d5ee8","type":"mqtt-broker","z":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"ff832b7e.007cd8","type":"mongodb","z":"","hostname":"mongo","port":"27017","db":"hal9000","name":"mongo"},{"id":"d994ea6e.6ae018","type":"mqtt-broker","z":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7e244bcd.93c694","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9d94e264.aff14","type":"ui_group","z":"","name":"Default","tab":"7e244bcd.93c694","disp":true,"width":"6"},{"id":"c6c645dd.3939b8","type":"mqtt in","z":"737f8a22.8c8074","name":"Test mqtt","topic":"sensors/#","qos":"2","broker":"b2a11886.4d5ee8","x":152,"y":104,"wires":[["fddd965f.022268","d27d5e1a.2d82a"]]},{"id":"fddd965f.022268","type":"debug","z":"737f8a22.8c8074","name":"","active":true,"console":"false","complete":"payload","x":528,"y":173,"wires":[]},{"id":"dba89259.24577","type":"inject","z":"737f8a22.8c8074","name":"","topic":"","payload":"Super :)","payloadType":"str","repeat":"","crontab":"","once":false,"x":193,"y":246,"wires":[["be027456.41fd88"]]},{"id":"be027456.41fd88","type":"function","z":"737f8a22.8c8074","name":"","func":"var newMsg = { payload: msg.payload, createdAt: new Date()}\nreturn newMsg;","outputs":1,"noerr":0,"x":411,"y":218,"wires":[["fddd965f.022268"]]},{"id":"d27d5e1a.2d82a","type":"function","z":"737f8a22.8c8074","name":"Add creartedAt","func":"var newMsg = { \n    topic: msg.topic,\n    message: msg.payload, \n    createdAt: new Date()\n    \n}\nreturn newMsg;","outputs":1,"noerr":0,"x":324,"y":58,"wires":[[]]},{"id":"3016085.fcfe9f8","type":"mqtt out","z":"737f8a22.8c8074","name":"ESP8266 00","topic":"alarm/input","qos":"","retain":"","broker":"b2a11886.4d5ee8","x":391,"y":329,"wires":[]},{"id":"ce90f5a0.316f08","type":"inject","z":"737f8a22.8c8074","name":"ESP8266 push GPIO9 1","topic":"","payload":"{gpio:8,value:1}","payloadType":"str","repeat":"","crontab":"","once":false,"x":131,"y":321,"wires":[["3016085.fcfe9f8"]]},{"id":"22b3f512.dd4c0a","type":"inject","z":"737f8a22.8c8074","name":"ESP8266 push GPIO9 0","topic":"","payload":"{gpio:8,value:0}","payloadType":"string","repeat":"","crontab":"","once":false,"x":127,"y":372,"wires":[["3016085.fcfe9f8"]]},{"id":"16d37aac.e92c85","type":"mqtt out","z":"fe371a91.01c8e8","name":"alarm commands","topic":"alarm/commands","qos":"","retain":"","broker":"b2a11886.4d5ee8","x":536,"y":130,"wires":[]},{"id":"8a1e134f.75e1f","type":"inject","z":"fe371a91.01c8e8","name":"armed full","topic":"","payload":"{\"status\":\"armed\", \"mode\":\"full\", \"tempo\":5}","payloadType":"string","repeat":"","crontab":"","once":false,"x":280,"y":87,"wires":[["16d37aac.e92c85"]]},{"id":"932ba09a.6cd46","type":"inject","z":"fe371a91.01c8e8","name":"{\"alarm\":\"off\"}","topic":"","payload":"{\"status\":\"off\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":293,"y":179,"wires":[["16d37aac.e92c85"]]},{"id":"ea7bda56.158428","type":"inject","z":"fe371a91.01c8e8","name":"armed perimetric","topic":"","payload":"{\"status\":\"armed\", \"mode\":\"perimetric\", \"tempo\":5}","payloadType":"string","repeat":"","crontab":"","once":false,"x":300,"y":130,"wires":[["16d37aac.e92c85"]]},{"id":"6ce23b26.931dc4","type":"mqtt in","z":"fe371a91.01c8e8","name":"","topic":"alarm/events","qos":"2","broker":"b2a11886.4d5ee8","x":273.00001525878906,"y":254,"wires":[["1fbfa776.e04059"]]},{"id":"1bd8551e.e427ab","type":"debug","z":"fe371a91.01c8e8","name":"","active":true,"console":"false","complete":"false","x":542.0000457763672,"y":425.0000457763672,"wires":[]},{"id":"b4d6d3e8.4b293","type":"mongodb out","z":"fe371a91.01c8e8","mongodb":"ff832b7e.007cd8","name":"alarm events storage","collection":"alarm.events","payonly":false,"upsert":false,"multi":false,"operation":"store","x":621.0000152587891,"y":333.00001525878906,"wires":[]},{"id":"1fbfa776.e04059","type":"function","z":"fe371a91.01c8e8","name":"Add creartedAt","func":"var events = {\n    msg : msg.payload,\n    createdAt : new Date()\n}\nreturn events;","outputs":1,"noerr":0,"x":505.0000457763672,"y":246,"wires":[["b4d6d3e8.4b293"]]},{"id":"a5051525.5afae8","type":"mqtt in","z":"fe371a91.01c8e8","name":"","topic":"alarm/sensors/#","qos":"2","broker":"b2a11886.4d5ee8","x":283.00001525878906,"y":380.00001525878906,"wires":[["1bd8551e.e427ab"]]},{"id":"eedbed80.11241","type":"inject","z":"8810446f.77efb8","name":"","topic":"","payload":"","payloadType":"none","repeat":"10800","crontab":"","once":false,"x":146,"y":173,"wires":[["a988901a.56777"]]},{"id":"a988901a.56777","type":"http request","z":"8810446f.77efb8","name":"","method":"GET","ret":"txt","url":"http://www.meteo-paris.com/tablette","tls":"","x":185,"y":231,"wires":[["4a2640a3.b5d9c"]]},{"id":"4a2640a3.b5d9c","type":"function","z":"8810446f.77efb8","name":"Scraper","func":"if (~msg.payload.indexOf('flash_date')){\n    var titre = msg.payload.split('titre\">')[1].split('<')[0];\n    var saint = msg.payload.split('saint\">')[1].split(' /')[0];\n    var soleil = msg.payload.split('saint\">')[1].split('/ ')[1].split('<')[0];\n    \n    var data = {};\n    ['matin', 'midi', 'soir', 'nuit'].forEach(function(elem) {\n        data[elem] = {\n           picto: msg.payload.split(elem+'\">')[1].split('title')[0].split('version2/svg/')[1].split('.svg')[0],\n           temp: msg.payload.split(elem+'\">')[1].split('&deg')[0].split('important\\'>')[1].split(' ')[0]\n        };\n    });\n    var pluie_picto = msg.payload.split('aac_pluie_')[1].split('.svg')[0];\n    var pluie_percent = msg.payload.split('aac_pluie_')[1].split('</div')[0].split('\\t')[1].split('%')[0];\n    var vent_picto = msg.payload.split('vents/')[1].split('.svg')[0];\n    var vent_txt = msg.payload.split('vent_txt\">')[1].split('</div')[0];\n    var ecart = msg.payload.split('saisonnier<br/>')[1].split('</div')[0].split('>\\r\\n\\t')[1].split(' °\\t')[0];\n    var vent_txt = vent_txt.replace(/[\\n\\r\\t]/g, '');\n    var vent_txt = vent_txt.replace(new RegExp('<br />','g'), ' ')\n    \n    msg_formatted = {}\n    msg_formatted.payload = {\n        id: '1',\n        titre: titre,\n        saint:saint,\n        soleil: soleil,\n        matin: data['matin'],\n        midi: data['midi'],\n        soir: data['soir'],\n        nuit: data['nuit'],\n        pluie: {picto: pluie_picto, percent: pluie_percent},\n        vent: {picto: vent_picto, txt: vent_txt},\n        ecart: ecart\n    }\n    msg_formatted.query = {'id': '1' };\n    return msg_formatted;\n}\nreturn null;","outputs":1,"noerr":0,"x":240,"y":288,"wires":[["6ef88425.91077c","d3c83c32.2c37c"]]},{"id":"6ef88425.91077c","type":"debug","z":"8810446f.77efb8","name":"","active":true,"console":"false","complete":"true","x":346.00001525878906,"y":388.00001525878906,"wires":[]},{"id":"d3c83c32.2c37c","type":"mongodb out","z":"8810446f.77efb8","mongodb":"ff832b7e.007cd8","name":"weather storage","collection":"weather","payonly":true,"upsert":true,"multi":false,"operation":"update","x":490,"y":279,"wires":[]},{"id":"6802724.dd72e8c","type":"mqtt in","z":"737f8a22.8c8074","name":"","topic":"revspace/sensors/temperature/18/0","qos":"2","broker":"d994ea6e.6ae018","x":153,"y":437.40003204345703,"wires":[["67a13a63.5e5fa4"]]},{"id":"3d5d66d9.76a81a","type":"debug","z":"737f8a22.8c8074","name":"","active":false,"console":"false","complete":"true","x":732.5000152587891,"y":422.2000198364258,"wires":[]},{"id":"e9bca813.92a728","type":"mongodb out","z":"737f8a22.8c8074","mongodb":"ff832b7e.007cd8","name":"","collection":"sensor.test","payonly":false,"upsert":false,"multi":false,"operation":"store","x":768.5000152587891,"y":522.2000198364258,"wires":[]},{"id":"28a1851d.95af9a","type":"inject","z":"737f8a22.8c8074","name":"temperature","topic":"","payload":"23","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.50001525878906,"y":667.0000152587891,"wires":[["ebf7b21f.6d46e"]]},{"id":"ebf7b21f.6d46e","type":"mqtt out","z":"737f8a22.8c8074","name":"","topic":"sensors/salon/temperature","qos":"","retain":"","broker":"b2a11886.4d5ee8","x":540.5000305175781,"y":649.4000473022461,"wires":[]},{"id":"937a47a.85d81b8","type":"inject","z":"737f8a22.8c8074","name":"humitidty","topic":"","payload":"88","payloadType":"str","repeat":"","crontab":"","once":false,"x":118.50001525878906,"y":728.9999923706055,"wires":[["ccf26a69.88d098"]]},{"id":"ccf26a69.88d098","type":"mqtt out","z":"737f8a22.8c8074","name":"","topic":"sensors/salon/humidity","qos":"","retain":"","broker":"b2a11886.4d5ee8","x":518.2000274658203,"y":724.2000198364258,"wires":[]},{"id":"d8a5eb4e.4a8878","type":"function","z":"737f8a22.8c8074","name":"Add creartedAt","func":"var temp = Math.floor(Math.random() * (30 - 10 + 1)) + 10;\nvar newMsg = { \n    topic: msg.topic,\n    //message: msg.payload, \n    value: '18.2',\n    createdAt: new Date()\n    \n}\nreturn newMsg;","outputs":1,"noerr":0,"x":514.2000274658203,"y":570.2000198364258,"wires":[["e9bca813.92a728"]]},{"id":"8a84f8bf.735158","type":"inject","z":"737f8a22.8c8074","name":"Add temperature history","topic":"revspace/sensors/temperature/18/0","payload":"dummy","payloadType":"str","repeat":"","crontab":"","once":false,"x":138.5,"y":581.0000686645508,"wires":[["d8a5eb4e.4a8878"]]},{"id":"ac867433.01abf8","type":"function","z":"737f8a22.8c8074","name":"Add creartedAt","func":"var newMsg = { \n    topic: msg.topic,\n    //message: msg.payload, \n    value: msg.payload,\n    createdAt: new Date()\n    \n}\nreturn newMsg;","outputs":1,"noerr":0,"x":576.2000274658203,"y":466.2000198364258,"wires":[["e9bca813.92a728","3d5d66d9.76a81a"]]},{"id":"c459de47.e3c86","type":"mqtt in","z":"737f8a22.8c8074","name":"","topic":"revspace/sensors/temperature/2/99","qos":"2","broker":"d994ea6e.6ae018","x":156.1999969482422,"y":510.20001220703125,"wires":[["67a13a63.5e5fa4"]]},{"id":"67a13a63.5e5fa4","type":"function","z":"737f8a22.8c8074","name":"remove unit","func":"var value = msg.payload.substring(0, msg.payload.indexOf(\" \"));\nvar msg = { \n    topic: msg.topic,\n    payload: Number(value)\n}\nreturn msg;","outputs":1,"noerr":0,"x":480.49998474121094,"y":402.2000198364258,"wires":[["ac867433.01abf8"]]}]